<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        {{#block "head"}}
            <meta charset="utf-8">
            <meta http-equiv="content-language" content="en">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="x-ua-compatible" content="ie-edge">
            <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.2/css/pro.min.css" integrity="sha384-YcCKdDtB8pm5kXHLIsK/IylYvILXYq4WZw3ujnqH74M2/IK0nPsD9bo/wXBV0SQ9" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ rboxlo.PROPER_DOMAIN }}/css/styles{{ rboxlo.DSR }}.css">
            <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
            <link rel="manifest" href="{{ rboxlo.PROPER_DOMAIN }}/site.webmanifest">
            <link rel="mask-icon" href="{{ rboxlo.PROPER_DOMAIN }}/safari-pinned-tab.svg" color="#5bbad5">
            <meta name="msapplication-TileColor" content="#d5bfff">
            <meta name="msapplication-TileImage" content="{{ rboxlo.PROPER_DOMAIN }}/mstile-144x144.png">
            <meta name="theme-color" content="#d5bfff">
            <title>{{ page.title }} - {{ rboxlo.PROPER_NAME }}</title>
        {{/block}}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top rboxlo-color-1">
                <div class="container">
                    <a class="navbar-brand" href="/"><img src="{{ rboxlo.PROPER_DOMAIN }}/img/brand/large.png" alt="{{ rboxlo.PROPER_NAME }}" height="35"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            {{#block "navigation-bar-items-start"}}
                                {{#unless session}}
                                    <li class="nav-item">
                                        <a class="nav-link{{#if (def page.home)}} active{{/if}}" href="{{#if (def page.home)}}#{{else}}{{ rboxlo.PROPER_DOMAIN }}/{{/if}}"{{#if (def page.home)}}aria-current="page"{{/if}}>Home</a>
                                    </li>
                                {{else}}
                                    <li class="nav-item">
                                        <a class="nav-link{{#if (def page.dashboard)}} active{{/if}}" href="{{#if (def page.dashboard)}}#{{else}}{{ rboxlo.PROPER_DOMAIN }}/my/dashboard{{/if}}"{{#if (def page.dashboard)}}aria-current="page"{{/if}}>Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link{{#if (def page.games)}} active{{/if}}" href="{{#if (def page.games)}}#{{else}}{{ rboxlo.PROPER_DOMAIN }}/games{{/if}}"{{#if (def page.games)}}aria-current="page"{{/if}}>Games</a>
                                    </li>
                                {{/unless}}
                            {{/block}}
                        </ul>
                        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                            {{#block "navigation-bar-items-end"}}
                                {{#unless session}}
                                    <li class="nav-item">
                                        <a class="nav-link{{#if (def page.login)}} active{{/if}}" href="{{#if (def page.login)}}#{{else}}{{ rboxlo.PROPER_DOMAIN }}/account/login{{/if}}"{{#if (def page.login)}}aria-current="page"{{/if}}>Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link{{#if (def page.register)}} active{{/if}}" href="{{#if (def page.register)}}#{{else}}{{ rboxlo.PROPER_DOMAIN }}/account/create{{/if}}"{{#if (def page.register)}}aria-current="page"{{/if}}>Register</a>
                                    </li>
                                {{else}}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ rboxlo.PROPER_DOMAIN }}/account/logout">Logout</a>
                                    </li>
                                {{/unless}}
                            {{/block}}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-shrink-0">
            <div class="container">
                {{#block "body"}}
                {{/block}}
            </div>
        </main>

        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                {{#block "footer"}}
                    <span class="text-muted">Running {{ rboxlo.VERSION.name }} - {{ rboxlo.VERSION.version }} {{#if rboxlo.VERSION.commit}}(<a href="https://github.com/lightbulblighter/Rboxlo2/tree/{{ rboxlo.VERSION.commit }}">{{ substring rboxlo.VERSION.commit 0 8 }}</a>){{/if}}</span>
                {{/block}}
            </div>
        </footer>

        {{#block "scripts"}}
            <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
            <script type="text/javascript" src="{{ rboxlo.PROPER_DOMAIN }}/js/app{{ rboxlo.DSR }}.js"></script>
        {{/block}}
    </body>
</html>